.copyright {
  margin-top: 40px;

  @media @tablet {
    margin-top: 0px;
  }
}

.copyright__link {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: @color-1;

  &:hover .copyright__icon {
    fill: @color-4;
  }

  &:active .copyright__icon {
    fill: @color-12;
  }
}

.copyright__icon {
  fill: @color-1;
  width: 27px;
  height: 34px;
  vertical-align: middle;
  cursor: pointer;
}
