.heading {
  min-width: 320px;
  margin: auto;
  padding: 24px 0px;

  @media @tablet {
    border-bottom: none;
    padding: 62px 20px;
  }
}

.heading__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 8px 0px;

  @media @tablet {
    font-size: 30px;
    font-weight: 700;
  }
}

.heading__text {
  color: @color-2;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 5px;
  width: 320px;
  margin: auto;

  @media @tablet {
    width: 440px;
    margin: auto;
  }
}
