.main-nav {
  position: relative;
  padding-bottom: 56px;

  @media @tablet {
    padding-bottom: 0px;

    .main-nav__items {
      display: flex;
      flex-direction: row;
    }
  }
}

.main-nav__logo {
  height: 0px;
  position: relative;
  top: -56px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  z-index: 1;

  @media @tablet {
    order: -1;
    top: 0px;
  }
}

.main-nav__item {
  background: #81b3d2;
  color:  @color-3;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: none;
    box-shadow: inset 0px -15px 25px -20px rgba(0,0,0,1);
  }

  &:active {
    .main-nav__link {
    opacity: .3;
    }
  }

  @media @tablet {
    background: @color-3;
    font-size: 14px;
    line-height: 26px;
    width: 20%;
    border: none;

    &:last-of-type {
      box-shadow: none;
    }

    &:nth-of-type(2) {
      margin-right: auto;
    }
  }
}

.main-nav__link {
  text-align: center;
  display: block;
  color:  @color-3;
  padding: 8px 0px;

  &:hover {
    background: #669ec0;
  }

  @media @tablet {
    position: relative;
    text-align: center;
    display: block;
    color: @color-1;
    font-weight: 900;
    padding: 15px 0px;

    &:hover {
      color: @color-4;
      background: none;
    }

    &:active {
      color: @color-1;
      opacity: .3;
    }
  }
}

.main-nav--closed {
  .main-nav__toggle {
    position: absolute;
    font-size: 0;
    margin: 0px;
    width: 23px;
    height: 40px;
    bottom: 40px;
    top: 17px;
    right: 20px;
    background: url("../img/icons/icon-menu.svg") no-repeat;
    cursor: pointer;
    outline: none;
    z-index: 4;
  }

  .main-nav__items {
    display: none;
  }
}

.main-nav--opened {
  .main-nav__items {
    display: block;
  }

  .main-nav__toggle {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    outline: none;
    font-size: 0;
    margin: 0px;
    width: 40px;
    height: 40px;
    top: 16px;
    right: 12px;
    background: none;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 28px;
      height: 4px;
      background:  @color-3;
      top: 10px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__items {
    display: block;
  }
}

.main-nav__toggle {
  @media @tablet {
    display: none;
  }
}

.main-nav__items {
  .main-nav__link--active {
    @media @tablet {
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        opacity: .3;
      }
    }
  }
}
