.photos {
  display: flex;
  flex-wrap: wrap;
}

.photos__item {
  padding: @item-padding;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'PT Sans', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.photos__name {
  font-weight: 900;
  text-transform: uppercase;
}

.photos__author {
  font-weight: 400;
}

.photos__counter-text {
  position: relative;
  font-weight: 900;
  color: #000000;
  padding-left: 37px;
  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 20px;
    left: 0px;
    background: url("../../img/icons/icon-like.svg") no-repeat;
  }
}

@media (min-width: 768px) {
  .photos {
    width: 648px;
    margin: auto;
  }

  .photos__item {
    padding: 0px;
    border-bottom: none;
  }

  .photos__item {
    background: #f2f2f2;
  }
}

@media (min-width: 1200px) {
  .photos {
    width: 100%;
    margin: auto;
  }

  .photos__item {
    padding: 0px;
  }
}
