.player {
  position: relative;
  height: 111px;
  width: 280px;
  margin: auto;
  background: rgba(0, 0, 0, .6);
  border-bottom: 66px solid @color-7;
  bottom: 49px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 235px;
    height: 3px;
    background: @color-3;
    opacity: .2;
    left: 22px;
    top: 22px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    background: @color-3;
    left: 58px;
    top: 19px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 1;
  }
}

.player__item {
  position: absolute;
  bottom: -42px;
  fill: #5c6870;
  cursor: pointer;

  &:hover {
    fill: @color-2;
  }
  
  &:active {
    opacity: .3;
  }
}

.player__item--replay {
  left: 25px;
}

.player__item--subtitles {
  left: 174px;
}

.player__item--fullscreen {
  left: 237px;
}
