.reason {
  display: flex;
  flex-direction: column;

  &:first-of-type &__about {
    padding-top: 78px;
  }

  @media @tablet {
    flex-direction: row;

    &:first-of-type &__about {
      padding-top: 45px;
    }
  }

  @media @desktop {
    &:first-of-type &__about {
      padding-top: 55px;
    }
  }
}

.reason__about {
  background: @color-4;
  color: @color-3;
  padding: 39px 20px 38px;

  @media @tablet {
    width: 256px;
    padding: 45px 40px;
  }

  @media @desktop {
    width: 400px;
    padding: 55px 45px;
  }
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    width: 151px;
    margin: auto;
    font-size: 21px;
  }
}

.reason__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  &:first-of-type {
    padding: 10px 0px 15px;
  }

  @media @tablet {
    &:first-of-type {
      padding: 10px 0px 20px;
    }
  }
}

.reason__picture {
  @media @desktop {
    height: 256px;
    overflow: hidden;
    
    & * {
      position: relative;
      top: -35px;
    }
  }
}

.reason--secondary {
  .reason__about {
    position: relative;
    background: @color-5;
    color: @color-2;
    padding: 39px 35px 38px;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 280px;
      height: 1px;
      bottom: 0px;
      left: 20px;
      background: @color-6;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  @media @tablet {
    .reason__about {
      width: 256px;
      padding: 45px 50px;

      &::after {
        display: none;
      }
    }
  }

  @media @desktop {
    .reason__about {
      width: 400px;
      padding: 55px 65px;
    }
  }
}
