.search {
  .contaner ();
  padding: 30px 20px 50px;
  text-align: center;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-family: 'PT Sans', 'Roboto', sans-serif;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}

.search__text {
  padding: 24px 0px 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', 'Roboto', sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

@media (min-width: 768px) {

  .search {
    padding: 58px 155px;
  }

  .search__title {
    font-size: 30px;
  }

  .search__text {
    padding: 27px 0px 43px;
  }
}

@media (min-width: 1200px) {
  .search {
    padding: 50px 370px 70px;
    .search__text {
      padding: 30px 0px 50px;
    }
  }
}
