.social {
  display: flex;
}

.social__item:not(:last-of-type) {
  margin-right: 6px;
}

.social__link {
  position: relative;
  display: flex;
  width: 46px;
  height: 48px;
  background: @color-4;
  font-size: 0px;

  &:hover {
    background: @color-11;
  }

  &:active {
    background: @color-9;
    .social__icon {
      opacity: .3;
    }

    &::before {
      opacity: .3;
    }
  }
}

.social__icon {
  margin: auto;
  fill: @color-3;
  width: 18px;
  height: 18px;
}
